version: '3.8'

services:
  documentation:
    build: .
    container_name: experion-hmi-docs
    volumes:
      - .:/workspace
    working_dir: /workspace
    stdin_open: true
    tty: true
    ports:
      - "8080:8080"
    command: /bin/bash
